In [2]:
import pandas as pd
import numpy as np
import pymongo
import dns

In [3]:
volcano_file = 'volcano_data.csv'
eruptions_file = 'eruption_data.csv'

In [4]:
vol_data= pd.read_csv(volcano_file)
eruption_data= pd.read_csv(eruptions_file)

In [18]:
username = 'pooky'
password = 'Mz0P55Rb87Yzmuuq'
mongo = "mongodb+srv://" + username +":"+ password +"@cluster0.ilrpi.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = pymongo.MongoClient(mongo)
db = client['Volcanoes']

In [6]:
vol_num=vol_data['volcano_number'].unique()
len(vol_num)

1412

In [34]:
collection = db['volcanoes_vei']

for x in vol_num:
    df=vol_data[vol_data['volcano_number'] == x]
    obj = {
        'volcano_number': str(df['volcano_number'].iloc[0]),
        'volcano_name':str(df['volcano_name'].iloc[0]),
        'primary_volcano_type':str(df['primary_volcano_type'].iloc[0]),
        'country':str(df['country'].iloc[0]),
        'latitude':float(df['latitude'].iloc[0]),
        'longitude':float(df['longitude'].iloc[0]),
        'elevation':float(df['elevation'].iloc[0]),
        'tectonic_settings':str(df['tectonic_settings'].iloc[0]),
        'evidence_category':str(df['evidence_category'].iloc[0]),
        'eruptions':[]
    }
    vol_er=e_vei[e_vei['volcano_number']== x]
    unique_eruptions= vol_er['eruption_number'].unique()
    for y in unique_eruptions:
        data=vol_er[vol_er['eruption_number'] == y]
        eruptions= {
            'eruption_number':int(data['eruption_number'].iloc[0]),
            'eruption_category':str(data['eruption_category'].iloc[0]),
            'vei':str(data['vei'].iloc[0]),
            'start_year':str(data['start_year'].iloc[0]),                
            'start_month':str(data['start_month'].iloc[0]),
            'start_day':str(data['start_day'].iloc[0]),
            'evidence_method_dating':str(data['evidence_method_dating'].iloc[0]),
            'end_year':str(data['end_year'].iloc[0]),
            'end_month':str(data['end_month'].iloc[0]),
            'end_day':str(data['end_day'].iloc[0])
        }
        obj['eruptions'].append(eruptions)
        

    id = collection.insert_one(obj).inserted_id

In [31]:
e_year=eruption_data['start_year'].unique()
e_year_late= e_vei[e_vei['start_year']>= 0]
e_year_ce= e_year_late['start_year'].unique()
e_year_ce

array([2019., 2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1994., 1993.,
       1992., 1991., 1990., 1989., 1988., 1987., 1986., 1985., 1984.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1969., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1854., 1853., 1852., 1851., 1850., 1849.,
       1848., 1847., 1846., 1845., 1844., 1843., 1842., 1841., 1840.,
       1839., 1838., 1837., 1836., 1835., 1834., 1833., 1832., 1831.,
       1830., 1829., 1828., 1827., 1826., 1825., 1824., 1823., 1822.,
       1821., 1820., 1819., 1818., 1817., 1816., 1815., 1814., 1813.,
       1812., 1811., 1810., 1809., 1808., 1807., 1806., 1805., 1804.,
       1803., 1802., 1801., 1800., 1799., 1798., 1797., 1796., 1795.,
       1794., 1793., 1792., 1791., 1790., 1789., 1788., 1787., 1786.,
       1785., 1784., 1783., 1782., 1781., 1780., 1779., 1778., 1777.,
       1776., 1775., 1774., 1773., 1772., 1771., 1770., 1769., 1768.,
       1767., 1766., 1765., 1764., 1763., 1762., 1761., 1760., 1759.,
       1758., 1757., 1756., 1755., 1754., 1753., 1752., 1751., 1750.,
       1749., 1748., 1747., 1746., 1745., 1744., 1743., 1742., 1741.,
       1740., 1739., 1738., 1737., 1736., 1735., 1734., 1733., 1732.,
       1731., 1730., 1729., 1728., 1727., 1726., 1725., 1724., 1723.,
       1722., 1721., 1720., 1719., 1718., 1717., 1716., 1715., 1713.,
       1712., 1711., 1710., 1709., 1708., 1707., 1706., 1705., 1704.,
       1703., 1702., 1701., 1700., 1699., 1698., 1697., 1696., 1695.,
       1694., 1693., 1691., 1690., 1689., 1688., 1687., 1686., 1685.,
       1684., 1683., 1682., 1680., 1678., 1677., 1676., 1675., 1674.,
       1673., 1672., 1671., 1670., 1669., 1668., 1667., 1666., 1664.,
       1663., 1662., 1661., 1660., 1659., 1658., 1657., 1656., 1655.,
       1654., 1653., 1652., 1651., 1650., 1649., 1648., 1647., 1646.,
       1645., 1644., 1643., 1642., 1641., 1640., 1638., 1637., 1636.,
       1635., 1634., 1632., 1631., 1630., 1629., 1628., 1626., 1625.,
       1623., 1622., 1620., 1619., 1618., 1617., 1616., 1615., 1614.,
       1613., 1612., 1611., 1610., 1609., 1608., 1607., 1606., 1605.,
       1604., 1603., 1602., 1600., 1599., 1598., 1597., 1596., 1595.,
       1594., 1593., 1592., 1591., 1590., 1588., 1587., 1586., 1585.,
       1584., 1583., 1582., 1581., 1580., 1579., 1578., 1577., 1576.,
       1575., 1574., 1573., 1572., 1571., 1570., 1569., 1568., 1566.,
       1565., 1564., 1563., 1562., 1561., 1560., 1558., 1557., 1554.,
       1553., 1552., 1551., 1550., 1548., 1547., 1545., 1544., 1543.,
       1542., 1541., 1540., 1539., 1538., 1537., 1536., 1535., 1534.,
       1533., 1532., 1531., 1530., 1529., 1528., 1527., 1526., 1524.,
       1523., 1522., 1521., 1519., 1518., 1516., 1515., 1512., 1511.,
       1510., 1509., 1508., 1506., 1505., 1504., 1503., 1500., 1497.,
       1494., 1493., 1492., 1490., 1488., 1487., 1485., 1483., 1482.,
       1481., 1480., 1479., 1478., 1477., 1474., 1473., 1471., 1470.,
       1469., 1468., 1466., 1463., 1462., 1460., 1454., 1451., 1450.,
       1448., 1447., 1446., 1444., 1441., 1440., 1438., 1435., 1434.,
       1433., 1430., 1422., 1421., 1420., 1417., 1416., 1413., 1411.,
       1410., 1408., 1404., 1400., 1397., 1395., 1392., 1390., 1389.,
       1388., 1387., 1385., 1384., 1381., 1380., 1377., 1376., 1375.,
       1372., 1370., 1369., 1363., 1362., 1361., 1360., 1357., 1354.,
       1351., 1350., 1347., 1346., 1345., 1343., 1341., 1340., 1338.,
       1335., 1334., 1333., 1332., 1331., 1330., 1329., 1325., 1324.,
       1311., 1310., 1307., 1305., 1300., 1290., 1286., 1281., 1280.,
       1274., 1273., 1272., 1271., 1270., 1269., 1265., 1262., 1260.,
       1257., 1256., 1253., 1251., 1250., 1245., 1240., 1239., 1238.,
       1235., 1231., 1230., 1229., 1227., 1226., 1223., 1222., 1211.,
       1210., 1206., 1200., 1198., 1194., 1190., 1188., 1187., 1184.,
       1183., 1179., 1177., 1175., 1170., 1167., 1164., 1160., 1158.,
       1157., 1154., 1151., 1150., 1140., 1139., 1130., 1120., 1113.,
       1112., 1110., 1108., 1104., 1100., 1090., 1085., 1083., 1082.,
       1080., 1075., 1073., 1070., 1060., 1050., 1049., 1042., 1040.,
       1037., 1034., 1033., 1030., 1020., 1010., 1006., 1000.,  999.,
        991.,  986.,  970.,  968.,  960.,  950.,  945.,  942.,  940.,
        937.,  934.,  932.,  930.,  925.,  920.,  915.,  910.,  900.,
        890.,  887.,  886.,  885.,  884.,  882.,  880.,  875.,  874.,
        871.,  870.,  867.,  866.,  864.,  861.,  860.,  858.,  857.,
        856.,  854.,  850.,  847.,  843.,  840.,  838.,  837.,  832.,
        830.,  826.,  823.,  822.,  810.,  807.,  806.,  800.,  796.,
        788.,  787.,  781.,  780.,  778.,  771.,  770.,  766.,  764.,
        750.,  742.,  740.,  730.,  726.,  720.,  716.,  713.,  712.,
        710.,  708.,  700.,  690.,  686.,  685.,  683.,  680.,  675.,
        670.,  660.,  654.,  653.,  650.,  648.,  641.,  640.,  630.,
        625.,  620.,  610.,  600.,  590.,  580.,  553.,  550.,  535.,
        530.,  526.,  520.,  512.,  505.,  500.,  490.,  480.,  472.,
        470.,  460.,  450.,  440.,  430.,  420.,  410.,  400.,  390.,
        380.,  379.,  378.,  370.,  350.,  340.,  330.,  320.,  310.,
        303.,  300.,  290.,  270.,  260.,  255.,  252.,  250.,  240.,
        233.,  230.,  222.,  220.,  210.,  203.,  200.,  190.,  180.,
        172.,  170.,  160.,  150.,  140.,  130.,  120.,  110.,  100.,
         90.,   80.,   79.,   70.,   60.,   50.,   46.,   40.,   35.,
         30.,   20.,   10.])

In [32]:
len(e_year_ce)

840

In [27]:
collection = db['years']

for x in e_year_ce:
    df=vol_data[vol_data['volcano_number'] == x]
    obj = {
        'Year': x,
        'eruptions':[]
    }
    vol_er=eruption_data[eruption_data['start_year']== x]
    unique_eruptions= vol_er['eruption_number'].unique()
    for y in unique_eruptions:
        data=vol_er[vol_er['eruption_number'] == y]
        dv=vol_data[vol_data['volcano_number']== data['volcano_number'].iloc[0]]
        eruptions= {
            'volcano_number':int(data['volcano_number'].iloc[0]),
            'volcano_name':str(dv['volcano_name'].iloc[0]),
            'latitude':float(dv['latitude'].iloc[0]),
            'longitude':float(dv['longitude'].iloc[0]),
            'eruption_number':int(data['eruption_number'].iloc[0]),
            'eruption_category':str(data['eruption_category'].iloc[0]),
            'vei':str(data['vei'].iloc[0]),
            'evidence_method_dating':str(data['evidence_method_dating'].iloc[0]),
        }
        obj['eruptions'].append(eruptions)
        

    id = collection.insert_one(obj).inserted_id

In [19]:
obj

{'volcano_number': '210010',
 'volcano_name': 'West Eifel Volcanic Field',
 'primary_volcano_type': 'Maar(s)',
 'country': 'Germany',
 'latitude': 50,
 'longitude': 6,
 'elevation': 600,
 'tectonic_settings': 'Rift zone / Continental crust (>25 km)',
 'evidence_category': 'Eruption Dated',
 'eruptions': [],
 '_id': ObjectId('6088a3a56a0837c236747550')}

In [41]:
    vol_er=eruption_data[eruption_data['volcano_number']== 210010]
    unique_eruptions= vol_er['eruption_number'].unique()
    len(unique_eruptions)

2

In [20]:
vol_data

,volcano_number,volcano_name,primary_volcano_type,country,latitude,longitude,elevation,tectonic_settings,evidence_category
0,210010,West Eifel Volcanic Field,Maar(s),Germany,50.170,6.850,600,Rift zone / Continental crust (>25 km),Eruption Dated
1,210020,Chaine des Puys,Lava dome(s),France,45.775,2.970,1464,Rift zone / Continental crust (>25 km),Eruption Dated
2,210030,Olot Volcanic Field,Pyroclastic cone(s),Spain,42.170,2.530,893,Intraplate / Continental crust (>25 km),Evidence Credible
3,210040,Calatrava Volcanic Field,Pyroclastic cone(s),Spain,38.870,-4.020,1117,Intraplate / Continental crust (>25 km),Eruption Dated
4,211003,Vulsini,Caldera,Italy,42.600,11.930,800,Subduction zone / Continental crust (>25 km),Eruption Observed
...,...,...,...,...,...,...,...,...,...
1407,390120,Leskov Island,Stratovolcano,United Kingdom,-56.656,-28.140,190,Subduction zone / Oceanic crust (< 15 km),Unrest / Holocene
1408,390130,Zavodovski,Stratovolcano,United Kingdom,-56.300,-27.570,551,Subduction zone / Oceanic crust (< 15 km),Eruption Observed
1409,390140,Protector Seamounts,Submarine,United Kingdom,-55.912,-28.167,-55,Subduction zone / Oceanic crust (< 15 km),Eruption Observed
1410,390829,James Ross Island,Shield,Antarctica,-64.150,-57.750,1630,Intraplate / Continental crust (>25 km),Evidence Credible
1411,390847,Melville,Stratovolcano,Antarctica,-62.020,-57.670,549,Intraplate / Continental crust (>25 km),Evidence Uncertain

In [8]:
eruption_data

,volcano_number,eruption_number,eruption_category,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day
0,266030,22354,Confirmed Eruption,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0
1,343100,22355,Confirmed Eruption,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0
2,233020,22343,Confirmed Eruption,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0
3,345020,22346,Confirmed Eruption,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0
4,353010,22347,Confirmed Eruption,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
11089,324020,21101,Confirmed Eruption,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN
11090,222161,22141,Confirmed Eruption,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN
11091,357121,22351,Confirmed Eruption,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11092,357121,22352,Confirmed Eruption,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11093,390090,21099,Confirmed Eruption,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
e_vei = eruption_data.dropna(subset=['vei'])
e_vei

,volcano_number,eruption_number,eruption_category,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day
7,241040,22338,Confirmed Eruption,2.0,2019.0,12.0,9.0,Historical Observations,2019.0,12.0,9.0
9,284096,22340,Confirmed Eruption,1.0,2019.0,12.0,5.0,Historical Observations,2020.0,4.0,17.0
13,243070,22334,Confirmed Eruption,1.0,2019.0,10.0,13.0,Historical Observations,2019.0,10.0,22.0
25,290240,22320,Confirmed Eruption,2.0,2019.0,5.0,16.0,Historical Observations,2019.0,10.0,7.0
32,263310,22306,Confirmed Eruption,2.0,2019.0,2.0,18.0,Historical Observations,2019.0,7.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...
11089,324020,21101,Confirmed Eruption,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN
11090,222161,22141,Confirmed Eruption,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN
11091,357121,22351,Confirmed Eruption,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11092,357121,22352,Confirmed Eruption,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN
11093,390090,21099,Confirmed Eruption,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=vol_data[vol_data['volcano_number'] == x]

In [ ]:
    unique_eruptions= eruption_data['volcano_number'].unique()
    for y in unique_eruptions:
        df=unique_eruptions[unique_eruptions['volcano_number'] == y]
        eruptions= {
            'eruption_number':int(df['eruption_number'].iloc[0]),
            'eruption_catergory':str(df['eruption_catergory'].iloc[0]),
            'vei':str(df['vei'].iloc[0]),
            'eruption_catergory':str(df['eruption_catergory'].iloc[0]),
            'start_year':str(df['start_year'].iloc[0]),                
            'start_month':str(df['start_month'].iloc[0]),
            'start_day':str(df['start_day'].iloc[0]),
            'evidence_method_dating':str(df['evidence_method_dating'].iloc[0]),
            'end_year':str(df['end_year'].iloc[0]),
            'end_month':str(df['end_month'].iloc[0]),
            'end_day':str(df['end_day'].iloc[0])
        }
        obj['eruptions'].append(eruptions)